@model ModuloInventario.Models.ASIGNACIONVARIOS

@{
    ViewBag.Title = "Delete";
}

<link rel="stylesheet" href="../../Scripts/fontawesome-free-5.3.1-web/css/all.min.css">
<h2 class="text-center" style="background-color:#3072AC; color:#ffffff;">Eliminar Registro</h2>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<h4>Estas seguro de eliminar?</h4>
<div>
    <h5>Asignación de Artículos</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.INGRESOVARIOS.CODIGOINTERNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INGRESOVARIOS.CODIGOINTERNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA.NOMBRE1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA.NOMBRE1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEDE.CODIGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEDE.CODIGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAASIGNACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAASIGNACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAENTREGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAENTREGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADOENTREGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADOENTREGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OBSERVACIONES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OBSERVACIONES)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" value="Delete" class="btn btn-outline-danger"><i class="fas fa-times-circle"></i> Eliminar</button> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
<script>
    $('#Responsable').text('Responsable:');
    $('#Codigo').text('C\u00F3digo Interno:');
    $('#Ubicacion').text('Ubicaci\u00F3n:');
    $('#FechaInicio').text('Fecha de Asignaci\u00F3n:');
    $('#FechaFin').text('Fecha de Finalizaci\u00F3n:');
    $('#EstadoEntrega').text('Estado Entrega:');
</script>