@model ModuloInventario.Models.INGRESOVARIOS

@{
    ViewBag.Title = "Delete";
}
<br />
<link rel="stylesheet" href="../../Scripts/fontawesome-free-5.3.1-web/css/all.min.css">
<h2 class="text-center" style="background-color:#3072AC; color:#ffffff;">Baja de Equipo</h2>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<h3>Estas seguro de dar de baja?</h3>
<div>
    <h4>Ingreso de Artículos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt id="Articulo">
            @Html.DisplayNameFor(model => model.ARTICULO.ARTICULO1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARTICULO.ARTICULO1)
        </dd>

        <dt id="Responsable">
            @Html.DisplayNameFor(model => model.PERSONA.NOMBRE1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA.NOMBRE1)
        </dd>

        <dt id="Ciudad">
            @Html.DisplayNameFor(model => model.SEDE.CODIGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEDE.CODIGO)
        </dd>

        <dt id="Codigo">
            @Html.DisplayNameFor(model => model.CODIGOINTERNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODIGOINTERNO)
        </dd>

        <dt id="Marca">
            @Html.DisplayNameFor(model => model.MARCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MARCA)
        </dd>

        <dt id="Modelo">
            @Html.DisplayNameFor(model => model.MODELO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODELO)
        </dd>

        <dt id="Serie">
            @Html.DisplayNameFor(model => model.SERIE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SERIE)
        </dd>

        <dt id="Particularidad">
            @Html.DisplayNameFor(model => model.PARTICULARIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARTICULARIDAD)
        </dd>

        <dt id="Estado">
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

        <dt id="FacturaN">
            @Html.DisplayNameFor(model => model.NODEFACTURA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NODEFACTURA)
        </dd>

        <dt id="FacturaV">
            @Html.DisplayNameFor(model => model.VALORFACTURA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VALORFACTURA)
        </dd>

        <dt id="Fecha">
            @Html.DisplayNameFor(model => model.FECHAADQUISICION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAADQUISICION)
        </dd>

        <dt id="Observaciones">
            @Html.DisplayNameFor(model => model.OBSERVACIONES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OBSERVACIONES)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" value="Delete" class="btn btn-outline-danger"><i class="fas fa-times-circle"></i> Dar de baja</button> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
<script>
    $('#Responsable').text('Responsable');
    $('#Codigo').text('C\u00F3digo Interno');
    $('#Ciudad').text('Ciudad de Ubicaci\u00F3n');
    $('#Articulo').text('Art\u00EDculo');
    $('#Marca').text('Marca');
    $('#Modelo').text('Modelo');
    $('#Serie').text('Serie');
    $('#Particularidad').text('Particularidad');
    $('#Estado').text('Estado Activo');
    $('#FacturaN').text('NºFactura');
    $('#FacturaV').text('Valor de Factura');
    $('#Fecha').text('Fecha de Adquisici\u00F3n');
    $('#Observaciones').text('Observaciones');
</script>
