@model ModuloInventario.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="../Scripts/fontawesome-free-5.3.1-web/css/all.min.css">
<br />
<h2>Ingreso de Equipos</h2>

<p>
    <a href="/Home/SeleccionIngreso" class="btn btn-outline-primary btn-sm"><i class="fas fa-undo-alt fa-1x"></i> Regresar</a> |
    @Html.ActionLink("Ingresar", "Create")
</p>

<div class="form-group">
    @using (Html.BeginForm("Index", "IngresoVarios", FormMethod.Get))
    {
        <p>
            <div class="input-group-prepend">
                <button type="submit" class="btn btn-outline-info"><i class="fas fa-search fa-1x">  Consultar:</i></button>@Html.TextBox("SearchString", null, new { @class = "form-control" })
            </div>
        </p>
    }
</div>

<table class="table table-responsive table-striped table-bordered ">
    <thead class="thead-dark">
        <tr>
            <th>
                Responsable
            </th>
            <th>
                Ubicación_Origen
            </th>
            <th>
                Codigo_Interno
            </th>
            <th>
                Artículo
            </th>
            <th>
                Marca
            </th>
            <th>
                Modelo
            </th>
            <th>
                Serie
            </th>
            <th>
                Particularidad
            </th>
            <th>
                Estado
            </th>
            <th>
                No_Factura
            </th>
            <th>
                Valor_Factura
            </th>
            <th>
                Fecha_Adquisición
            </th>
            <th>
                Observaciones
            </th>
            <th>................Opciones................</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ingresoVarios)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PERSONA.NOMBRE1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SEDE.DESCRIPCION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CODIGOINTERNO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ARTICULO.ARTICULO1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MARCA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MODELO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SERIE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PARTICULARIDAD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ESTADO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NODEFACTURA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VALORFACTURA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHAADQUISICION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OBSERVACIONES)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.SECUENCIAL }) |
                    @Html.ActionLink("Detalle", "Details", new { id = item.SECUENCIAL }) |
                    @Html.ActionLink("Dar de Baja", "Delete", new { id = item.SECUENCIAL })
                </td>
            </tr>
        }
    </tbody>
</table>

@{Html.RenderPartial("_paginador", Model);}
